@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

.header {
  background-image: url("../images/football_767.jpg");
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: 30px 20px 80px 20px;
}

.header::before {
  content: "";
  background-color: #000000;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}

.header_logo_svg {
  display: block;
  fill: #ffffff;
  width: 130px;
  margin: 0 auto;
  position: relative;
}

.header_titles {
max-width: 270px;
margin: 130px auto 85px auto;
position: relative;
}

h2.header_title a, h3.header_title a {
  font-family: OpenSans-Bold, sans-serif;
  color: #ffffff;
  font-size: 28px;
  text-decoration: none;
  }

h2.header_title {
margin: 0 0 20px 0;
}

h3.header_title {
margin: 0 0 0 45px;
padding: 0;
}

.header_button {
  position: relative;

}

button {
  height: 30px;
}

.header_button_svg_app, .header_button_svg_google {
  height: 22px;
}
