@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
.header {
  background-image: url("../images/football_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 560px;
  background-color: #000000;
  position: relative;
  display: flex;
  justify-content: center;
}

.header::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.header_logo_svg {
  fill: #ffffff;
  width: 130px;
  margin-top: 30px;
  position: absolute;
  z-index: 2;

}


.header_title h2, .header_title h3 {
  margin-top: 200px;
  margin-left: 20px;
  font-family: OpenSans-Bold, sans-serif;
  color: #ffffff;
  font-size: 28px;
  text-decoration: none;
  position: absolute;
  z-index: 2;
}

.header_title h3 {
  margin-left: 64px;
  margin-top: 260px;
}

.header_button {
  margin-top: 400px;
}

button {
  height: 30px;
}
.header_button_svg_app, .header_button_svg_google {
  height: 22px;
}
