@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

.header {
  background-image: url("../images/football_767.jpg");
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: center top;
  background-size: cover;
  position: relative;
  padding: 30px 20px 80px 20px;
}

.header::before {
  content: "";
  background-color: #1d1d3f;
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}

.header_logo_svg, .footer_logo_svg {
  display: block;
  fill: #ffffff;
  width: 130px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.header_title {
max-width: 270px;
margin: 130px auto 85px auto;
position: relative;
}

.header_title span, .header_title {
  font-family: OpenSans-Bold, sans-serif;
  color: #ffffff;
  font-size: 28px;
  text-decoration: none;
  }

h1 span.header_title_second {
display: block;
padding: 25px 0 0 45px;
}

.header_button, .footer_button {
  position: relative;
  max-width: 280px;
  min-width: 100px;
  margin: 0 auto;
  z-index: 1;

}

button {
  height: 30px;
  width: 100%;
  background-color: #5e42b0;
  border: none;
  border-radius: 15px;
}

.header_button_app, .header_button_google, .footer_button_app,
.footer_button_google {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.header_name_button_app, .header_name_button_google, .footer_name_button_app,
.footer_name_button_google {
  width: 90px;
  text-align: left;
  margin-left: 10px;
}

.header_name_button_normal, .footer_name_button_normal {
  display: block;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  color: #ffffff;
}

.header_name_button_bold, .footer_name_button_bold {
  display: block;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  color: #ffffff;
}

.header_button_svg_app, .header_button_svg_google,
.footer_button_svg_app, .footer_button_svg_google {
  height: 22px;
  fill: #ffffff;
}

.main_article_athlets_img {
  padding-top: 25px;
  position: relative;
}

.main_article_athlets_img::before {
  content: "";
  background-image: url("../images/footballer_192.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 180px;
  height: 100%;
  top: 100px;
  margin: auto;
  left: 0; right: 0;
  z-index: 1;
}

.main_title {
  max-width: 280px;
  margin-top: 0;
  margin-bottom: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 50px;
  color: #e7e7e7;
  text-transform: uppercase;
}

.main_article_athlets_img_text {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 15px;
  color: #000000;
  padding: 120px 20px 50px 20px;
  margin-top: 120px;
  background-color: #fafafa;
}

.main_article_athlets_img_text span {
  display: block;
  max-width: 260px;
  margin: 0 auto;
}

.main_article_athlets_blabla_02 {
  padding: 60px 20px 55px 20px;
  background-color: #f5f4f9;
}

.main_subtitle {
  width: 280px;
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: auto; margin-right: auto;
}

.main_subtitle::after {
  content: "";
  display: block;
  width: 17px;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
  position: relative;
  top: -12px;
}

.main_article_athlets_blabla_subtitle_number,
.main_article_players_blabla_subtitle_number {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  vertical-align: super;
}

.main_article_athlets_blabla_subtitle_text,
.main_article_players_blabla_subtitle_text {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 23px;
  color: #c1c1c1;
  text-transform: uppercase;
}


.main_article_athlets_blabla_text_02 {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 15px;
  max-width: 280px;
  margin: 0 auto;
  color: #000000;
}

.main_article_athlets_blabla_03 {
  background-color: #5e42b0;
  padding: 60px 20px 55px 20px;
}

.main_article_athlets_blabla_03 .main_subtitle {
  color: #c1c1c1;
}

.main_article_athlets_blabla_03 .main_subtitle::after {
  content: "";
  background-color: #ffffff;
}

.main_article_athlets_blabla_03
.main_article_athlets_blabla_subtitle_number {
  color: #000000;
}

.main_article_athlets_blabla_text_03{
  font-family: OpenSans-Regular, sans-serif;
  font-size: 15px;
  max-width: 255px;
  margin: 0 auto;
  color: #ffffff;
}

.main_article_players_img .main_title {
  margin-bottom: 230px;
}

.main_article_players_img {
  padding: 20px 2px 3px 2px;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.main_article_players_img::before {
  content: "";
  background-image: url("../images/basketballer_302.png");
  background-repeat: no-repeat;
  position: absolute;
  background-size: auto 230px;
  width: 280px;
  height: 100%;
  top: 70px;
  margin: 0 auto;
  left: 0; right: 0;
  z-index: 1;
}

.main_article_players_blabla_01 {
  padding: 80px 20px 50px 20px;
  background-color: #fafafa;
}

.main_article_players_blabla_text_01,
.main_article_players_blabla_text_02,
.main_article_players_blabla_text_03 {
  max-width: 280px;
  margin: 0 auto;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 15px;
  color: #000000;
}

.main_article_players_blabla_02 {
  padding: 80px 20px 50px 20px;
  background-color: #f5f4f9;
}

.main_article_players_blabla_03 {
  padding: 80px 20px 50px 20px;
  background-color: #090c35;
}

.main_article_players_blabla_subtitle_number {
  color: #8765dd;
}

.main_article_players_blabla_03 .main_subtitle::after {
  content: "";
  background-color: #ffffff;
}

.main_article_players_blabla_text_03 {
  color: #ffffff;
}

.main_no_name_img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main_no_name_number {
  font-family: OpenSans-Bold, sans-serif;
  color: #f5f6f7;
  font-size: 14px;
}

.main_no_name_number::after {
  content: "";
  width: 70px;
  height: 70px;
  background-color: #5e42b0;
}

.footer {
  padding: 100px 20px 10px;
  background-image: url("../images/game_767.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
}

.footer::after {
  content: "";
  background-color: #071441;
  opacity: 0.9;
  background-position: center center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}

.footer_svg {
  display: block;
  width: 55px;
  height: 55px;
  fill: #ffffff;
  position: absolute;
  z-index: 2;
  top: 0px; bottom: 0; left: 0; right: 0;
  margin: auto;
}

.footer_svg_substrate {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  background-color: #553ba2;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

.footer_for_loading a, .footer_for_loading {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  margin-top: 60px;
}



.footer_tagline {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 14px;
  color: #9b8ec1;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.footer_button {
  margin-top: 75px;
  margin-bottom: 75px;
}
